<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" arguments="app.py" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\python.log" startupTimeLimit="120" startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="PORT" value="8000" />
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="STREAMLIT_SERVER_PORT" value="8000" />
        <environmentVariable name="STREAMLIT_SERVER_ADDRESS" value="0.0.0.0" />
        <environmentVariable name="STREAMLIT_SERVER_HEADLESS" value="true" />
        <environmentVariable name="STREAMLIT_BROWSER_GATHER_USAGE_STATS" value="false" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
