<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%AZURE_APP_SERVICE_PYTHON_PATH%" arguments="%AZURE_APP_SERVICE_PYTHON_ARGS%" stdoutLogEnabled="true" stdoutLogFile="%AZURE_APP_SERVICE_LOG_DIR%\stdout.log" startupTimeLimit="20" startupRetryCount="10">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
